<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comggjae2016msami.httpsgithub.msamibeta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_iconimg"
        android:label="MSAMI"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- splash -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- splash -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonActivity" />
        <activity android:name=".Button2Activity" />
        <activity android:name=".Button3Activity" />
        <activity android:name=".Button4Activity"></activity>
    </application>

</manifest>